body {
    border: 1px solid blue;
    position: relative;
}

.content {
    position: relative;
    border: 1px solid green;
    padding: 10px 10px 10px 10px;
    margin-top: 40px;
    /*position: relative;*/
}

.first-block {
    border: 1px solid orange;
    margin-bottom: 18px;
}

.second-block {
    border: 1px solid red;
    /*position: relative;*/
}

/*.second-block span {*/
    /*border: 1px dashed black;*/
    /*color: #0D47A1;*/
    /*display: block;*/
/*}*/

.second-block .catalogue {
    padding-left: 90px;
    padding-right: 90px;
    text-align: left;
    /*position: relative;*/
}

.second-block img {
    width: 250px;
    margin-left: 18px;
    margin-top: 18px;
    box-sizing: border-box;
    /*position: relative;*/
}

.second-block img:hover {
    border: 6px solid red;
}

.second-block img.active {
    border: 1px solid red;
    position: absolute;
    left:4px;
    top:4px;
    margin: 0;
    width: 500px;
    z-index: 123;
}

span.title {
    position: absolute;
    top: 4px;
}

.product-block {
    position: relative;
}

.test {
    display: inline-block;
    max-width: 600px;
}

.test .description {
    float: right;
    max-width: 200px;
    margin-top: 16px;
}

.header {
    position: fixed;
    height: 40px;
    top: 0px;
    left: 0px;
    padding-left: 32px;
    padding-top: 8px;
    width: 100%;
    border: 1px solid red;
    z-index: 10000;
    background-color: #0D47A1;
}

.header > div {
    display: inline-block;
    color: #0D47A1;
    color: white;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}