.menu-wrapper {
    text-align: center;
    color: red;
}

.menu-wrapper span a {
    color: green;
    text-decoration: underline;
    border: solid 1px brown;
    width: 20%;
    overflow: hidden;
    display: inline-block;
}

.menu-wrapper span.active-item a,
.menu-wrapper span.active-item a:hover {
    text-decoration: none;
    color: red;
    font-size: 18px;
}

.menu-wrapper span a:hover {
    text-decoration: none;
    color: #33ff33;
}

.menu-wrapper span .submenu {
    display: none;
}

.menu-wrapper span a:hover .submenu {
    display: block;
}

.menu-wrapper > div > span {
    color: blue;
}

.menu-wrapper span span {
    color: red;
    font-size: 32px;
}

/*.menu-wrapper i {*/
    /*color: #faf3d2;*/
    /*text-decoration: none;*/
/*}*/

span {
    color: red;
    font-weight: bold;
}

#project_item {
    font-size: 40px;
    text-decoration: none;
}