.menu-wrapper {
    text-align: center;
    color: red;
}

.menu-wrapper span {
    color: green;
    text-decoration: underline;
}

.menu-wrapper > div > span {
    color: blue;
}

.menu-wrapper span span {
    color: red;
    font-size: 32px;
}

.menu-wrapper i {
    color: #faf3d2;
    text-decoration: none;
}

span {
    color: red;
    font-weight: bold;
}

#project_item {
    font-size: 40px;
    text-decoration: none;
}