.menu-wrapper {
    text-align: center;
    color: red;
}



.menu-item {
    color: green;
    text-decoration: underline;
    border: solid 1px brown;
    width: 20%;
    overflow: hidden;
    display: inline-block;
}

span.menu-item.active-item {
    text-decoration: none;
    color: brown;
    font-size: 18px;
}

.menu-wrapper > div > span {
    color: blue;
}

.menu-wrapper span span {
    color: red;
    font-size: 32px;
}

/*.menu-wrapper i {*/
    /*color: #faf3d2;*/
    /*text-decoration: none;*/
/*}*/

span {
    color: red;
    font-weight: bold;
}

#project_item {
    font-size: 40px;
    text-decoration: none;
}